.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.innerBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}